{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans 'Настройки сайта' %}
{% endblock %}

{% block content %}
<div class="movie_detail">
    <div class="settings">
        {% include 'include/settings_menu.html' %}
        <div class="settings_content">
            <table class="settings_table">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Кол-во фильмов</th>
                    <th>Действие</th>
                </tr>
                </thead>
                <tbody>
                {% for genre in genres %}
                <tr>
                    <td>{{ genre.name }}</td>
                    <td>{{ genre.movies.all.count }}</td>
                    <td><a href="">Изменить</a> | <a href="{% url 'genre_delete' genre.pk %}">Удалить</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td class="error404" colspan="3">Данные отсутсвуют</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <form action="{% url 'genre_add' %}" class="login_form settings_form" method="post">
                {% csrf_token %}
                <h3>Добавить жанр</h3>
                <div class="login_form_item">
                    <label for="">Название на русском</label>
                    <input type="text" name="name_ru">
                </div>
                <div class="login_form_item">
                    <label for="">Название на английском</label>
                    <input type="text" name="name_en">
                </div>
                <div class="login_form_item">
                    <label for="">Название на казахском</label>
                    <input type="text" name="name_kk">
                </div>
                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>

</div>
{% endblock %}