{% load static %}
{% load i18n %}
{% load movie_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Главная{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    {% block head %}{% endblock %}
</head>
<body>
<div class="wrapper">
    <div class="header_wrap">
        <div class="header">
            <a href="{% url 'index' %}" class="logo"><img src="{% static 'img/logo_new.png' %}" class="logo"></a>

            <div style="display: flex; align-items: center">

                {% if request.user.profile.admin %}
                <a href="{% url 'movie_add' %}" class="add_movie_link">{% trans 'Добавить фильм' %}</a>
                <a href="{% url 'settings_categories' %}" class="add_movie_link settings_link"><img src="{% static 'img/settings.png' %}" alt=""
                                                                            height="20px;">{% trans 'Настройки' %}</a>
                {% endif %}
                {% if request.user.is_authenticated %}
                {% if not request.user.profile.admin %}
                <a href="{% url 'cabinet' %}" class="login_link">{% trans 'Кабинет' %}</a>
                {% endif %}
                <a href="{% url 'logout' %}" class="login_link">{% trans 'Выход' %}</a>
                {% else %}
                <a href="{% url 'login' %}" class="login_link">{% trans 'Вход' %}</a>
                {% endif %}
                <form action="{% url 'set_language' %}" style="margin-right: 30px;" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select name="language" style="height: 31px;background-color: #d0d0d0;border-radius: 3px;"
                            onchange="window.location.href = '/'+this.options[this.selectedIndex].value+'{{ request.get_full_path|slice:'3:' }}'">

                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}
                                selected{% endif %}>

                            {{ language.name_local }}
                        </option>
                        {% endfor %}
                    </select>
                </form>
                <form class="search_form" method="get" action="{% url 'search' %}">
                    <input type="" name="q" class="search" placeholder="{% trans 'Поиск...' %}">
                    <label for="form_search">
                        <img src="{% static 'img/search.png' %}">
                    </label>

                    <input type="submit" name="" id="form_search" style="display: none">
                </form>
            </div>


        </div>
    </div>

    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
</div>
<div class="footer_wrap">
    <div class="footer">
        <div class="footer_item">
            <img src="{% static 'img/logo_new.png' %}">
            <p>{% trans 'Фильмы с душой' %}</p>
            <a href="https://t.me/ZhanFilmBot">
            <div class="telegram_button">
                <img src="{% static 'img/telegram.png' %}" width="30" alt="">
                <span>Перейти к боту</span>
            </div>
                </a>
        </div>
    </div>
</div>
{% block script %}

{% endblock %}
</body>
</html>