{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans 'Добавление фильма' %}
{% endblock %}

{% block content %}

<div class="movie_detail">
    <h3 class="alert_title">{% trans 'Добавление фильма' %}</h3>
    <form action="{% url 'movie_add' %}" method="post" class="movie_add_form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="tabs">
            <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
            <label for="tab-btn-1">Русский</label>
            <input type="radio" name="tab-btn" id="tab-btn-2" value="">
            <label for="tab-btn-2">English</label>
            <input type="radio" name="tab-btn" id="tab-btn-3" value="">
            <label for="tab-btn-3">Қазақ</label>

            <div id="content-1" class="form_content">
                <div class="form_item"><label for="">Название</label><input type="text" name="title_ru"
                                                                            placeholder="Название на русском"></div>
                <div class="form_item"><label for="">Слоган</label><textarea name="tagline_ru" id=""
                                                                             rows="2"
                                                                             placeholder="Слоган на русском"></textarea>
                </div>
                <div class="form_item"><label for="">Описание</label><textarea name="description_ru" id=""
                                                                               rows="7"
                                                                               placeholder="Описание на русском"></textarea>
                </div>
            </div>
            <div id="content-2" class="form_content">
                <div class="form_item"><label for="">Название</label><input type="text" name="title_en"
                                                                            placeholder="Название на английском">
                </div>
                <div class="form_item"><label for="">Слоган</label><textarea name="tagline_en" id=""
                                                                             rows="2"
                                                                             placeholder="Слоган на английском"></textarea>
                </div>
                <div class="form_item"><label for="">Описание</label><textarea name="description_en" id=""
                                                                               rows="7"
                                                                               placeholder="Описание на английском"></textarea>
                </div>
            </div>
            <div id="content-3" class="form_content">
                <div class="form_item"><label for="">Название</label><input type="text" name="title_kk"
                                                                            placeholder="Название на казахском">
                </div>
                <div class="form_item"><label for="">Слоган</label><textarea name="tagline_kk" id=""
                                                                             rows="2"
                                                                             placeholder="Слоган на казахском"></textarea>
                </div>
                <div class="form_item"><label for="">Описание</label><textarea name="description_kk" id=""
                                                                               rows="7"
                                                                               placeholder="Описание на казахском"></textarea>
                </div>
            </div>

        </div>
        <div class="form_content">
            <div class="form_item"><label for="">Актеры</label><textarea name="actors_list" id=""
                                                                         rows="5"></textarea>
            </div>
            <div class="form_item"><label for="">Режиссеры</label><textarea name="directors_list" id=""
                                                                            rows="5"></textarea>
            </div>
            <div class="form_item"><label for="">Страны</label>
                <div class="filter_items">
                    {% for country in countries %}
                    <div class="filter_item">
                        <input class="filter_item_input" type="checkbox" name="country_{{country.pk}}"
                               id="country_{{country.pk}}">
                        <label for="country_{{country.pk}}" class="filter_item_label">{{ country.name }}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="form_item"><label for="">Категория</label>
                <select name="category" id="">
                    {% for category in categories %}
                    <option value="{{ category.pk }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form_item"><label for="">Постер</label><input name="poster" type="file"></div>
            <div class="form_item"><label for="">Видеофайл</label><input name="video" type="file"></div>
            <div class="form_item"><label for="">Ссылка на видео</label><input name="video_url" type="url"></div>
            <div class="form_item"><label for="">Жанры</label>
                <div class="filter_items">
                    {% for genre in genres %}
                    <div class="filter_item">
                        <input class="filter_item_input" type="checkbox" name="genre_{{genre.pk}}"
                               id="genre_{{genre.pk}}">
                        <label for="genre_{{genre.pk}}" class="filter_item_label">{{ genre.name }}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="form_item">
                <label for="">{% trans 'Премьера в мире' %}</label><input name="world_premiere" type="date">
            </div>
            <div class="form_item">
                <label for="">Год</label><input type="number" name="year" style="text-align: center">
            </div>
            <div class="form_item">
                <label for="">Показывать в слайдере</label><input name="best" type="checkbox"
                                                                  style="text-align: center">
            </div>

        </div>

        <button type="submit" class="primary_button">Создать</button>

    </form>
</div>
{% endblock %}
