{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans 'Вход' %}
{% endblock %}

{% block head %}
<style>

</style>
{% endblock %}

{% block content %}
<div class="movie_detail">
    <div class="login_form">
        <h3>{% trans 'Вход' %}</h3>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="login_form_item">
                <label for="">{% trans 'Ник' %}</label>
                <input type="text" name="username">
            </div>
            <div class="login_form_item">
                <label for="">{% trans 'Пароль' %}</label>
                <input type="password" name="password">
            </div>
            <button type="submit">{% trans 'Войти' %}</button>
        </form>
        <a href="{% url 'signup' %}">{% trans 'Нет аккаунта, зарегистрируйтесь' %}</a>
    </div>
</div>
{% endblock %}