{% extends 'base.html' %}

{% block title %}

{% endblock %}



{% block content %}
<div class="movie_detail">
    <div class="login_form">
        <h3>Регистрация</h3>
        {% if passwordCheck %}
        <p class="form_errors">Пароли не совпадают</p>
        {% endif %}

        {% if emailFound %}
        <p class="form_errors">Пользователь с такой почтой уже есть в системе</p>
        {% endif %}
        <form action="{% url 'signup' %}" method="post">
            {% csrf_token %}
            <div class="login_form_item">
                <label for="">Ник</label>
                <input type="text" name="username" required>
            </div>

            <div class="login_form_item">
                <label for="">Почта</label>
                <input type="email" name="email" required>
            </div>
            <div class="login_form_item">
                <label for="">Имя</label>
                <input type="text" name="first_name" required>
            </div>
            <div class="login_form_item">
                <label for="">Фамилия</label>
                <input type="text" name="last_name" required>
            </div>

            <div class="login_form_item">
                <label for="">Пароль</label>
                <input type="password" name="password1" required>
            </div>
            <div class="login_form_item">
                <label for="">Пароль(повтор)</label>
                <input type="password" name="password2" required>
            </div>
            <button type="submit">Регистрация</button>
        </form>
        <a href="{% url 'login' %}">Есть аккаунт, войдите</a>
    </div>
</div>
{% endblock %}