{% load i18n %}
<div class="settings_menu">
    <div class="settings_menu_list">
        <a href="{% url 'settings_categories' %}"  class="settings_menu_item {% if request.get_full_path|slice:'3:' == '/settings/categories' %} active_settings_link {% endif %}" class="settings_menu_item">{% trans 'Категории' %} <span></span></a>
        <a href="{% url 'settings_genres' %}"  class="settings_menu_item {% if request.get_full_path|slice:'3:' == '/settings/genres' %} active_settings_link {% endif %}" class="settings_menu_item">{% trans 'Жанры' %} <span></span></a>
        <!--<a href="{% url 'settings_actors' %}"  class="settings_menu_item {% if request.get_full_path|slice:'3:' == '/settings/actors' %} active_settings_link {% endif %}" class="settings_menu_item">Актеры span</a>
        <a href="{% url 'settings_producers' %}"  class="settings_menu_item {% if request.get_full_path|slice:'3:' == '/settings/producers' %} active_settings_link {% endif %}" class="settings_menu_item">Режиссеры</a span>-->
        <a href="{% url 'settings_movies' %}"  class="settings_menu_item {% if request.get_full_path|slice:'3:' == '/settings/movies' %} active_settings_link {% endif %}" class="settings_menu_item">{% trans 'Фильмы' %} <span></span></a>
        <a href="{% url 'settings_archive' %}"  class="settings_menu_item {% if request.get_full_path|slice:'3:' == '/settings/archive' %} active_settings_link {% endif %}" class="settings_menu_item">{% trans 'Архив' %} <span></span></a>
        <a href="{% url 'settings_users' %}"  class="settings_menu_item {% if request.get_full_path|slice:'3:' == '/settings/users' %} active_settings_link {% endif %}" class="settings_menu_item">{% trans 'Пользователи' %} <span></span></a>
        <a href="{% url 'settings_roles' %}"  class="settings_menu_item {% if request.get_full_path|slice:'3:' == '/settings/roles' %} active_settings_link {% endif %}" class="settings_menu_item">{% trans 'Роли' %} <span></span></a>
        <!--<a href="{% url 'settings_other' %}" class="settings_menu_item {% if request.get_full_path|slice:'3:' == '/settings/other' %} active_settings_link {% endif %}"  class="settings_menu_item">Другое <span></span></a>-->
    </div>
</div>